# basic OSX aliases
alias ls='ls -Gp'
alias ll='ls -FGlAhp'
alias la='ls -lah'
alias lt='ls -lth'
alias lss='ls -lSh'
alias less='less -R'

# edit configs
alias zshconfig='subl ~/.zshrc'
alias preztoconfig='subl ~/.zpreztorc'
alias aliases='subl ~/.aliases'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Frequent commands
alias e='exit'
alias cd..='cd ..'
alias trash='rmtrash'
alias ...='cd ../..'
alias ....='cd ../../..'

# Git
alias ga='git add'
alias gd='git difftool'
alias gst='git status'
alias gp='git push'
alias gpu='git pull'
alias gc='git commit --verbose'
alias gcm='git commit --message'
alias gs='git stash'
alias gsa='git stash apply'

# Programs
alias rstudio='open -a Rstudio'
alias R='R --no-save'

# Special commands
alias rmspaces="rename 'y/ /_/' *"
alias gen_shiny='touch app.R global.R server.R ui.R'
alias inventory='sort | uniq -c | sort -n'
alias mven='mount -t smbfs //janos.divenyi@venice.ett.local/bigdata ~/venice/bigdata'
alias mven_cran='mount -t smbfs //janos.divenyi@venice.ett.local/storage/emarsys-cran ~/venice/emarsys-cran'
alias mven_si='mount -t smbfs //janos.divenyi@venice.ett.local/smart_insight ~/venice/SI'


# DB
alias hds_sql='psql -h 10.22.0.221 -p 5432 -U hds -d hds'
alias gp1_sql='psql -h 10.22.0.211 -p 5432 -U hds -d hds'
alias si_sql='psql -h 10.22.0.211 -p 5432 -U bigdata_ro -d smart_insight'
